html
	meta(charset="UTF-8")
	title ДФА Комета - Футболът не е само ритане!
	link(rel="stylesheet",href="lib/font-awesome/css/font-awesome.css")
	link(rel="stylesheet",href="css/style.css")
body
	header
		img#logo(src="img/logo-256.png")
		h1 ДФА Комета
		h2 Футболът не е само ритане!
		.contact
			p#contact-phone Тел. 0898 340 503
			a#contact-email(href="mailto:info@kometa.bg") info@kometa.bg
			a#contact-fb(href="http://fb.com/kometabg") fb.com/kometabg
	section#container
		section#content
			h1 Детска Футболна Академия "Комета"
			p.
				Започва прием на момичета и момчета,
				родени 2006, 2007, 2008, 2009г. за участие
				в подготвителни групи по футбол.
			img(src="img/home-page-graphic.png")
			p.
				Ние сме единствената детска футболна академия
				в България, предлагаща тренировки по футбол със
				занимателни игри, заедно с адаптирани обучителни
				програми за деца по спортна психолофия и педагогика
			p#important.
				Тренировките започват на 01.10.2015г.
			div
				span За записване и контакт:
				ul
					li Тел. 0898 340 503
					li: a(href="mailto:info@kometa.bg") info@kometa.bg
					li: a(href="http://fb.com/kometabg") fb.com/kometabg
	//- lib
	script(src="lib/jquery/dist/jquery.js")
	script(src="lib/lodash/lodash.js")
	script(src="lib/moment/moment.js")
	//- 
