html
	meta(charset="UTF-8")
	title ДФА Комета - Футболът не е само ритане!
	link(rel="stylesheet",href="lib/font-awesome/css/font-awesome.css")
	link(rel="stylesheet",href="css/style.css")
body
	header
		img#logo(src="img/logo-256.png")
		h1 ДФА Комета
		h2 Футболът не е само ритане!

		.contact
			p#contact-phone Тел. 0898 340 503
			a#contact-email(href="mailto:info@kometa.bg") info@kometa.bg
			a#contact-fb(href="http://fb.com/kometabg") fb.com/kometabg
	section#left-pane
		ul#menu
			li: a(href="/index.html") Начало
			li: a(href="/news.html") Новини
			li: a(href="/schedule.html") Програма
			li: a(href="/partners.html") Партньори
	section#content!= content
	//- lib
	script(src="lib/jquery/dist/jquery.js")
	script(src="lib/lodash/lodash.js")
	script(src="lib/moment/moment.js")
	//- 
